[submodule "external/libosmium"]
	path = external/libosmium
	url = https://github.com/osmcode/libosmium.git
[submodule "external/protozero"]
	path = external/protozero
	url = https://github.com/mapbox/protozero.git
[submodule "include/protozero"]
	path = include/protozero
	url = https://github.com/mapbox/protozero.git
